.UserList{
    display: flex;
    flex: 4 1;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
}

.UserList__container{
    width:90%;
}

.UserList__container .ServiceTableDetailTitles_Item:nth-child(7){
    width:10%;
}

.UserList__container .ServiceTableDetailTitles_Item:nth-child(5){
    width:10%;
}

.UserList__container .ServiceTableDetailTitles_Item:nth-child(4){
    width:20%;
}

.UserList__container .ServiceTableDetailTitles_Item:nth-child(6){
    width:20%;
}

.UserList__container .ServiceTableDetailTitles_Item:nth-child(1){
    width:14%;
}

.UserList__container .ServiceTableDetailTitles_Item:nth-child(2){
    width:13%;
}


.UserList__container .ServiceTableDetailTitles_Item:nth-child(3){
    width:13%;
}

.UserList .ServiceAdd{
    top:26.4%;
}