.UserDiary{
    display: flex;
    flex: 4 1;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
}

.UserDiary__Table{
    width: 90%;
    
}

.UserDiary_Table_Data{
    background-color:white;
}

.UserDiary_Table_Data .DetailService__container__table__detail__title__item:nth-child(4){
        width: 40%;
}
.UserDiary_Table_Data .DetailService__container__table__detail__title__item:nth-child(1){
    width: 20%;
}
.UserDiary_Table_Data .DetailService__container__table__detail__title__item:nth-child(2){
    width: 20%;
}
.UserDiary_Table_Data .DetailService__container__table__detail__title__item:nth-child(3){
    width: 20%;
}

.UserDiary_Table_Data .DetailService__container__table__detail {
    width: 100%;
}

.UserDiary .ServiceChosePage{
    width: 100%;
}