.RoleManagement{
    display: flex;
    flex: 4 1;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
}

.RoleManagement__Talbe{
    padding-bottom: 40px;
    width: 90%;
}

.RoleManagement__Talbe .ServiceDropdownsSarchFirst  {
    margin-left:auto;
    width: 28%;
    margin-bottom: 28px;
}

.RoleManagement__Talbe .seacrchlogo{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.RoleManagement__Talbe .ServiceDropdownsSearchTItle{
    margin-top: 18px;
}

.RoleManagement__Talbe__data {
    background-color:white;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}


.RoleManagement__Talbe__data .DetailService__container__table__detail__title__item:nth-child(3){
    width:43%;
}


.RoleManagement__Talbe__data .DetailService__container__table__detail__title__item:nth-child(1){
    width:19%;
}

.RoleManagement__Talbe__data .DetailService__container__table__detail__title__item:nth-child(2){
    width:19%;
}

.RoleManagement__Talbe__data .DetailService__container__table__detail__title__item:nth-child(4){
    width:19%;
}

.RoleManagement__Talbe__data .DetailService__container__table__detail {
    width:100%;
}

.RoleManagement__Talbe__data a {
    color: #4277FF;
    text-decoration:underline;
}

.RoleManagement .ServiceAdd{
    top:31%;
}