.LevelChart{
    margin-top:20px;
    display: flex;
    flex-direction: column;
}


.LevelChartTitle{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    /* identical to box height, or 150% */
    
    
    /* Orange/$-Orange-500 */
    
    color: #FF7506;
    text-align:left;
}

.LevelChartList{
    display: flex;
    justify-content:space-between;
}

.LevelChartItem{
    background: #FFFFFF;
    border-radius: 10px;
    padding:20px 10px;
}

.LevelChartItemFirst{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.LevelChartItemFirstIMG{
    width:50px;
    height:50px;
}
.LevelChartItemFirstTitle{
    margin-left: 15px;
    text-align:left;
    /* 14/14 Bold */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    word-wrap: break-word;
    padding-right: 50px;
    /* Gray/$-gray-400 Text */
    width:70px;
    color: #535261;

}


.LevelChartItemSecond{
    display:flex;
    justify-content: space-between;
    margin-top: 12px;
}



.arrowUp{
    width:6px;
    height:6px;
    transform:translateY(-11px);
    margin-right: 3px;
}
.LevelChartItemSecondNumber{
        font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height, or 150% */

    text-align: center;
    margin-left: 10px;
    /* Gray/$-gray-400 Text */

    color: #535261;

}

.LevelChartItemSecondPercent{
    background: rgba(255, 149, 1, 0.15);
    border-radius: 7.18115px;
    display: flex;
    align-items: center;
    margin:17px 0;
    padding:0 7px;
    
}
.LevelChartItemSecondPercent span{
        font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    
    /* identical to box height, or 150% */


    /* Orange/$-Orange-400 */

    color: #FF9138;
}

.arrowDown{
   
    background: rgba(231, 63, 63, 0.15) !important;
}

.arrowDown span{
    color:red!important;

}