.AddUserList{
    display: flex;
    flex: 4 1;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
}

.AddService_Container__Inputs__1--fix{
    transform: translateY(-10px);
}



.AddUserList .AddService_Container__Inputs__ServiceCode__Equiment_dropdown {
    transform: unset;
}

.AddService_Container__Inputs__ServiceCode__Input--fixUser{
    transform: translateY(1px);
}

.AddUserList .AddService_Button__addService button{
    padding-left: 40px;
    padding-right: 40px;
}