.Menubar{
    flex:1;
    display:flex;
    background-color:white;
    flex-direction:column;
    align-items:center;
    padding:10px 20px 0px 30px ;
    
    /* Dropdown */

    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 8px 0px 0px 8px;
    
}

.sdp {
    --theme-color: #FF7506!important; /* violet color */
    --disabled-color:#FF9138 !important;
    
  }

.sdp--month-name{
    color:#FF7506 !important;
}
.sdp--square-btn__shadowed{
    color:#FF7506 !important;
}

.Datapicker{
  
    

}

.MenubarUser{
    display:flex;
    align-items: center;
}
.MenubarUserBell{
    width:30px;
    height:30px;
    margin-right: 12px;
}

.MenuBarUserInforIMG{
    width:40px;
    height:40px;
}
.MenuBarUserInfor{
    display:flex;
}
.MenuBarUserInforDetail{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}

.menuBaruserhello{
        font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-300 */

    color: #7E7D88;

}

.menuBarusername{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;
}

.menuBarOverView{
    display: flex;
    flex-direction: column;
    width:100%;
}
.menuBarOverViewTitle{
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 150% */
    margin-top: 20px;
    margin-bottom: 20px;
    /* Orange/$-Orange-500 */

color: #FF7506;
}

.menuBarOverViewList{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content:space-between;
}
.menuBarOverViewItem{
    display: flex;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
    padding: 10px;
    margin :10px 0;
    
    }

.menuBarOverViewItemCircle{
    width:58px;
    height:58px;
}

.menuBarOverViewItemFirst{
    display: flex;
    flex-direction: column;
    padding:0 6px;
}

.menuBarOverViewItemFirstMinotor{
    width:14px;
    height:14px;
    
}


.menuBarOverViewItemFirstNumber{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    
    
    /* Gray/$-gray-400 Text */
    
    color: #535261;
}

.menuBarOverViewItemNumberMonitor{
    display:flex;
    justify-content:space-between;
}


.menubarItemtextMonitor{
    margin-left: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

.menuBarOverViewItemSecond{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.menuBarpointandnumber{
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.menubarpointnumbertotextmonitor{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    /* identical to box height, or 175% */

    margin:0 4px;
    /* Gray/$-gray-300 */

    color: #7E7D88;
}

.menuBarPointtoNumber{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

.pointorange{
    background: #FFD130;
    border-radius: 4px;
    width:4px;
    height:4px
}

.pointgray{
    background: #7E7D88;
    border-radius: 4px;
    width:4px;
    height:4px
}

.menubarFix{
    transform:translateX(-6px);
}

.menubarFix2{
    transform:translateX(-10px);

}