.Menubar{
    flex:1;
    display:flex;
    background-color:white;
    flex-direction:column;
    align-items:center;
    
}

.sdp {
    --theme-color: #FF7506!important; /* violet color */
    --disabled-color:#FF9138 !important;
    
  }

.sdp--month-name{
    color:#FF7506 !important;
}
.sdp--square-btn__shadowed{
    color:#FF7506 !important;
}

.Datapicker{
  

}