.DetailService{
    display: flex;
    flex: 4 1;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
}
.DetailService_title{
    /* 24/24 Bold */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    margin:30px 0 20px 0 ;
    /* Orange/$-Orange-500 */

    color: #FF7506;
}
.DetailService__container{
    width: 90%;
    display: flex;
}

.DetailService__container_1{
    display: flex;
    flex-direction: column;
}
.DetailService__container_items__item__title{
    /* 20/20 Bold */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}
.DetailService__container_items{
    background: #FFFFFF;
/* Shadowbox */
    width:40%;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 12px;
    padding: 12px 51px 120px 12px;
}
.DetailService__container_items__item_1{
    display: flex;
    padding:8px 0;
}

.DetailService__container_items__item_1 span:nth-child(1){
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;
}
.DetailService__container_items__item_1 span:nth-child(2){
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    padding-left: 5px;
    display: flex;
    align-items: center;

    /* Gray/$-gray-400 Text */

    color: #535261;

}
.DetailService__container_items__item:nth-child(2) {
    margin-top:30px;
}
.DetailService__container_items__item_1__inputs{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.DetailService__container_items__item_1__inputs input{
    padding: 10px 12px;
    order: 0;
    width: 56px;
    height: 36px;
}
.DetailService__container_items__item_1__inputs span{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */
    margin:0 4px;
    color: #282739;
}
.DetailService__container_items__item_1__inputs .prefix{
    margin-left: 50px;
}
.DetailService__container_items__item_1 .example{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    color: #535261;
}


.ServiceDropdowns_input--detailService input {
    width: 172px !important;
    margin-left: 55px;
}

.ServiceDropdownsSarchFirstName--detailService{
    margin-left:55px;
}

.DetailService__container__table{
    padding: 0 20px;
    margin-left:30px;
    background:white;
    background: #FFFFFF;
    /* Shadowbox */

    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.DetailService__container__table__detail{
    width: 100%;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px;
}


.DetailService__container__table__detail__title{
    display: flex;
    color: white;
    width: 100%;
    background: #FF9138;
    
}

.DetailService__container__table__detail__title__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #FFE3CD;
    width:50%;
    height:50px;
}
.DetailService__container__table__detail__title__item span{
    margin-left:15px;
}

.DetailService__container__table__detail__infor{
    display: flex;
}

.ProcessPoint{
    width: 6px;
    height: 6px;
    background: #5490EB;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 2px;
}

.StopPoint{
    width: 6px;
    height: 6px;
    background: #6C7585;;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 2px;
}

.DetailService__container__table__detail__infor:nth-child(2n+1){
    background: #FFF2E7;
}

.DetailService__container__Chose-page{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}


.DetailService__container__Chose-page .ChosePage__Item{
    font-size: 20px;
}


.ServiceAdd--update{
    position: absolute;
    top:19%;
    right:0;
}
.ServiceAdd--back{
    position: absolute;
    top:29%;
    right:0;
}

.DetailService__container .ServiceDropdownsSarchFirst:nth-child(1){
    margin-right: 10px;
}

.DetailService__container  .ServiceDropdowns_1 img {
    transform: translateX(3px);
}
.DetailService__container__table__detail {
    width:101%;
}