.BellandUser{
    display: flex;
    align-items: center;
    

}

.BellandUserbell{
    width:32px;
    height:32px;
    margin-right: 20px;
}

.BellandUseruser{
    display: flex;
    
}
.BellandUseruseravatar{
    width:40px;
    height:40px;
}

.BellandUseruserhiandinfor{
    display: flex;
    flex-direction: column;
    margin-left:10px;
}
.BellandUseruserhiandinfor_hi{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-300 */

    color: #7E7D88;
}
.BellandUseruserhiandinfor_name{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;
}