.Equiment {
    display: flex;
    flex: 4 1;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
}

.Equiment__container{
    width: 90%;
}


.Equiment .ServiceAdd{
    top:27%;
}


.Equiment__container .ServiceTableDetailTitles_Item:nth-child(1){
    width:10%;
}

.Equiment__container .ServiceTableDetailTitles_Item:nth-child(2){
    width:10%;
}

.Equiment__container .ServiceTableDetailTitles_Item:nth-child(3){
    width:10%;
}

.Equiment__container .ServiceTableDetailTitles_Item:nth-child(7){
    width:10%;
}

.Equiment__container .ServiceTableDetailTitles_Item:nth-child(8){
    width:10%;
}

.Equiment__container .ServiceTableDetailTitles_Item:nth-child(6){
    width:20%;
}

.Equiment__container .ServiceTableDetailTitles_Item:nth-child(4){
    width:16%;
}

.Equiment__container .ServiceTableDetailTitles_Item:nth-child(5){
    width:14%;
}

